.cover__link {
  margin: 0 auto;
  max-width: 560px;
  background: no-repeat center url(../../../images/cover-trains.jpg);
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
  text-decoration: none;
  padding: 245px 312px;
  position: relative;
}

.cover__link::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(42, 44, 47, 0.3);
}

.cover__link:hover::before {
  background-color: rgba(42, 44, 47, 0.8);
  transition: 0.5s;
}

@media screen and (max-width: 1184px) {
  .cover__link {
    padding: 195px 232px;
  }
}

@media screen and (max-width: 970px) {
  .cover__link {
    padding: 115px 104px;
  }
}

@media screen and (max-width: 714px) {
  .cover__link {
    padding: 33px 16px;
  }
}
