.place__image {
  max-width: 460px;
  grid-row-start: 2;
}


@media screen and (max-width: 1024px) {
  .place__image {
      max-width: 440px;
  }
}

@media screen and (max-width: 732px) {
  .place__image {
      width: 100%;
  }
}