.cover__subtitle {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  width: 360px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  z-index: 2;
  padding-top: 32px;
}

@media screen and (max-width: 500px) {
  .cover__subtitle {
    padding-top: 16px;
  }
}

@media screen and (max-width: 768px) {
  .cover__subtitle {
    margin: 0 16px;
  }
}

@media screen and (max-width: 600px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    width: 258px;
  }
}
