.cover__subtitle {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  position: absolute;
  z-index: 2;
  width: 360px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 58%);
}

@media screen and (max-width: 768px) {
  .intro__text {
    margin: 0 16px;
  }
}

@media screen and (max-width: 500px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
  }
}
