.lead__subtitle {
  color: #fff;
  text-align: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  max-width: 640px;
  padding-top: 32px;
  padding-bottom: 64px;
  margin: 0;
}
