.cover__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: #ffffff;
  position: absolute;
  z-index: 2;
  max-width: 560px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -124%);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

@media screen and (max-width: 1024px) {
  .cover__title {
    width: 70%;
  }
}

@media screen and (max-width: 768px) {
  .cover__title {
    width: 95%;
  }
}

@media screen and (max-width: 550px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    width: 288px;
  }
}
