.cover__title {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: #ffffff;
  max-width: 560px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  /* padding-top: 245px; */
  margin: 0;
  z-index: 2;
}

@media screen and (max-width: 1024px) {
  .cover__title {
    width: 70%;
    /* padding-top: 195px; */
  }
}

@media screen and (max-width: 768px) {
  .cover__title {
    width: 95%;
    /* padding-top: 115px; */
  }
}

@media screen and (max-width: 550px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    width: 288px;
    /* padding-top: 33px; */
  }
}
