.footer {
  max-width: 1280px;
  padding-top: 92px;
  padding-bottom: 24px;
  max-width: 1184px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 1184px) {
  .footer {
    margin: 0 48px;
  }
}

@media screen and (max-width: 780px) {
  .footer {
    margin: 0 24px;
    padding-top: 88px;
  }
}

@media screen and (max-width: 732px) {
  .footer {
    padding-top: 64px;
    align-items: flex-start;
    max-width: 189px; 
    /* если сделать макс ширину меньше, то просиходит перенос имени */
    flex-flow: column nowrap;
  }
}

@media screen and (max-width: 500px) {
  .footer {
    margin: 0 16px;
  }
}
