.place__url-heading {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  color: #aaaaaa;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0 0 12px 0;
}

@media screen and (max-width: 500px) {
  .place__url-heading {
    margin-left: 16px;
    padding-bottom: 12px;
  }
}
