.intro__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  color: #ffffff;
  margin: 0;
  padding-top: 92px;
  padding-bottom: 40px;
  max-width: 690px;
}
