.intro__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  color: #ffffff;
  margin: 0;
  padding-top: 92px;
  padding-bottom: 40px;
  max-width: 720px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

@media screen and (max-width: 768px) {
  .intro__title {
    font-size: 54px;
    line-height: 58px;
    padding-top: 88px;
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .intro__title {
    margin: 0 16px;
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
  }
}
